.g {
    display: grid;
    grid-template-columns: repeat(18,1fr);
}
.g-item {
    grid-column-start: 5;
}
.g-item, .g-item--sm {
    grid-column-end: span 4;
}
.g-item--lg {
    grid-column-end: span 9;
}

@media (max-width: 785px) {
    .g .g-item {
        grid-column-start: 2;
        grid-column-end: span 15;
    }
}
@media (max-width: 785px) {
    .g .g-item--center, .g .g-item--lg {
        grid-column-end: span 13;
    }
}

@media (min-width: 786px) {
    .g .g-item--col-2 {
        grid-column-start: 10;
    }
}
@media (min-width: 786px) {
    .g .g-item--half-2 {
        grid-column-start: 11;
        grid-column-end: span 7;
    }
}

.g-sub {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
 }
.book {
    grid-column-start: 1;
    grid-column-end: 5;
}
.book:nth-child(n+3){
    @extend .push-top--large;
}

.book:nth-child(even) {
    grid-column-start: 6;
    grid-column-end: 10;

}