
$mountains: 10;
$mountain-bg: #bdc3c7;
// $mountain-bg: #24548f;
$body-bg: #34495e;

.range {
  padding-top: 4.0em;
  padding-bottom: 2em;
  font-size: 4px;

  width: $mountains * 2.2em;
  // top: $mountains/2 * 1em - 1em;
  position: relative;
  transition: .15s;
  // left: 86%;
  // &:hover {
  //   width: $mountains * 1.15em;
  //   transition: .35s;
  // }
}
@media (min-width: 1000px){
.range {
  padding-top: 0em;
  padding-bottom: 3em;
  font-size: 6px;
  }
}
.mountain {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0 0.5775em 1em;
  transform: translate(1em,-1em);
  position: absolute;
  transition: .15s;
  // .range:hover & {
  //   transform: translate(0,-1em);
  //   transition: .35s;
  // }
  @for $i from 1 through $mountains {
    &:nth-child(#{$i}){
          font-size: $i * 1em;
          border-bottom-color: rgba( adjust-hue($mountain-bg, $i * 10deg ), 1 - ((1/($mountains + 1)) * $i) );
        }
    }
}

.site-navigation__logo {
  position: fixed;
  &:hover {
    border-bottom: none;
  }
}

.site-navigation__logo__right,
.site-navigation__logo__left {
    position: fixed;
    left: 5.55556vw;
    // left: 0;
    font-size: 1.05em;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: 1px;
    color: #34495e;
}
.site-navigation__logo__right {
    transition: transform .8s cubic-bezier(.4,0,.2,1);
    // left: 0;
    transform: translate3d(-100%, 0px, 0px) translate3d(74.6666vw, 0px, 0px);
    // right: 0;
    white-space: nowrap;
    transform-style: preserve-3d;
    // transform-origin: top left;
    // transform: translate3d(85%, -25%, 0px) rotate(90deg);
    // color: #bdc3c7;
}
.site-navigation__logo__expanded {
    color: #fff;
}
@media (min-width: 1000px){

    .site-navigation__logo__right,
    .site-navigation__logo__left {
        font-size: 1.5em;
    }

    .site-navigation__logo__right {
        transform: translate3d(-100%, 0px, 0px) translate3d(86.6666vw, 0px, 0px);
        left: 0;
        // top: 50%;
        // font-size: 2.5em;
        // transform: translate3d(86%, 50%, 0px) rotate(90deg);
        // letter-spacing: .25em;
    }

}